PORT=3000

# Redis connection
# Docker Compose uses the service name "redis"
REDIS_URL=redis://redis:6379

# General API rate limit
GENERAL_RATE_LIMIT=10
GENERAL_RATE_WINDOW=60

# Strict API rate limit
STRICT_RATE_LIMIT=3
STRICT_RATE_WINDOW=60

TOKEN_BUCKET_CAPACITY=5
TOKEN_BUCKET_REFILL_RATE=2